{% extends "me2zip_main/header.html" %}
{% block content %}
<h2>Help</h2>
<h3>Q: I get "unknown" as my zip code. Why?</h3>
<p>
    There can be several reasons why we were unable to resolve your ZIP code:
</p>
<ol>
    <li>
        You may have blocked websites (or this website) from using your location. To fix this you can either allow us to
        get your location, or, alternatively, enter your address manually in the <a href="/">home page</a>.
    </li>
    <li>
        The address in the form isn't correct or sufficient. Try fixing the information the address the
        <a href="/">home page</a> and retry.
    </li>
</ol>
<h3>Q: Me2Zip says it doesn't understand in what country I am. What's going on?</h3>
<p>
    Me2Zip needs to understand in what country you are for it to know how to obtain your ZIP code. However, sometimes
    your location cannot be resolved to a country. This can happen for different reasons:
</p>
<ol>
    <li>
        You may be in a <a href="https://en.wikipedia.org/wiki/List_of_territorial_disputes">disputed territory</a>.
    </li>
    <li>
        You may be in international territory, for example, in the middle of the ocean.
    </li>
</ol>
<br>
<h4>
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    Feel free to <a href="mailto:asherbare@gmail.com">contact us</a> for any question, comment or suggestion.
</h4>


{% endblock %}
