{% extends "me2zip_main/header.html" %}
{% block content %}


<form method="POST" action="/">
    {% csrf_token %}
    <input type="text" name="textfield">
    <button type="submit">Upload text</button>
</form>


<center id="map" style="width: 280px; height: 288px; overflow: hidden; border: 1px solid black; position: relative;"></center>


{% if resolved_zip %}
    <h3 style="">Your Zip Code is: {{ resolved_zip }}</h3>
{% else %}
    <h3>Zip Unknown</h3>
{% endif %}


{% if resolved_address %}
    <h3>Your Address is: {{ resolved_address.city }}</h3>
{% endif %}


{% if latitude and longitude %}
    <script type="text/javascript">
       function initMap() {
            centerMap("map", {{ latitude }}, {{ longitude }});
       }
    </script>
{% else %}
    <script type="text/javascript">
        function initMap() {
            centerMap("map", null, null, true);
        }
    </script>
{% endif %}


<script type="text/javascript" src="../static/js/position_map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ gm_api_key }}&callback=initMap"></script>

{% endblock %}