{% extends "me2zip_main/map_based_page.html" %}
<script type="text/javascript" src="../static/js/get_current_position.js"></script>

{% block on_load_func_implementation %}
getCurrentPosition(
    function(latitude, longitude) {
        window.location.href = '/lat=' + latitude + '&long=' + longitude;
    },
    function() {
        alert("Acquiring position failed");
        window.location.href = '/autolocate=false';
    },
    function() {
        alert("Acquiring position unsupported");
        window.location.href = '/autolocate=false';
    },
)
{% endblock %}
